<footer class="w-full pt-6">
  <div class="bottom-4 mx-auto max-w-3xl p-4">
    <ul class="flex items-center justify-center text-lg">
      <li>
        <a class="primary-link block px-3 py-0 text-center" href="./index.html">Email</a>
      </li>
      <li>
        <a class="primary-link l block px-3 py-0 text-center" href="https://codeberg.org/a-gavin"
          >Git</a
        >
      </li>
      <li>
        <a
          class="primary-link block px-3 py-0 text-center"
          href="https://www.linkedin.com/in/alex-gavin/"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
</footer>
