<!-- Header -->
<header class="sticky top-0 z-40 min-h-[3.5rem] w-full">
  <div class="top-3 mx-auto w-full max-w-4xl bg-white p-3 lg:flex lg:justify-between">
    <!-- Left top menu -->
    <div class="flex justify-between">
      <a class="text-xl" href="{{ config.base_url }}">Alex Gavin</a>
    </div>

    <!-- Right top menu-->
    <nav class="flex w-full items-center lg:w-auto">
      <ul
        class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0"
      >
        <li>
          <a
            class="primary-link block py-2 text-center text-xl lg:px-3 lg:py-0"
            href="{{ config.base_url }}"
            >About</a
          >
        </li>

        <li>
          <a
            class="primary-link block py-2 text-center text-xl lg:px-3 lg:py-0"
            href="https://alw32c9tw.s3.us-west-2.amazonaws.com/AlexGavinResume.pdf"
            >CV</a
          >
        </li>

        <li>
          <a
            class="primary-link block py-2 text-center text-xl lg:px-3 lg:py-0"
            href="{{ config.base_url }}/blog"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
