<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 'shrint-to-fit=no' is a post-Safari 9.0 workaround
        https://stackoverflow.com/questions/33767533/what-does-the-shrink-to-fit-viewport-meta-attribute-do
    -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <title>Alex Gavin</title>
  <link rel="icon" type="image/x-icon" href="{{ get_url(path=config.extra.favicon) }}" />

  <!-- Author/description -->
  <meta name="author" content="Alex Gavin" />
  <meta name="description" content="Portfolio website" />

  <!-- CSS & JS -->
  <link rel="preload stylesheet" href="{{ get_url(path=`main.css`) }}" />
  <link
    href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css"
    rel="stylesheet preload"
    as="font"
  />
</head>
