<div class="flex flex-row space-x-16">
  <div class="w-1/4 flex-none">
    <img
      class="h-auto max-w-full rounded-sm"
      src="{{ get_url(path=config.extra.profile.avatar_url) }}"
      alt="Profile picture"
    />
  </div>
  <div class="flex flex-col space-y-4">
    <div class="mb-1">
      <div class="mb-1 text-lg font-bold">Current Position</div>
      <div class="text-gray-600">
        {{ config.extra.profile.position | default(value=`Intriguing Position, Prestigious Company`)
        }}
      </div>
    </div>
    <div class="mb-1">
      <div class="mb-1 text-lg font-bold">Professional Interests</div>
      <ul class="my-0">
        <!-- TODO: Defaults -->
        {% for interest in config.extra.profile.professional_interests %}
        <li class="text-gray-600">{{ interest }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="mb-1">
      <div class="mb-1 text-lg font-bold">About Me</div>
      <!-- TODO: Defaults -->
      {% for paragraph in config.extra.profile.about_me_paragraphs %}
      <div class="mb-1.5 text-wrap text-gray-600">{{ paragraph }}</div>
      {% endfor %}
    </div>
  </div>
</div>
