{% extends "index.html" %}<!---->
{% block main %}<!---->

{% set section = get_section(path=page.extra.section) %}<!---->

{% for year, posts in section.pages | group_by(attribute="year") %}
<div class="text-xl font-semibold">{{ year }}</div>

<div class="not-prose pl-6">
  <ul>
    {% for post in posts %}
    <li>
      <div class="my-2 flex items-center justify-between">
        <a class="primary-link text-lg" href="{{ post.permalink }}">{{ post.title }}</a>
        <time>{{ post.date | date(format="%m-%d") }}</time>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endfor %}<!---->
{% endblock main %}
